.crappieImg{
    max-width: 50%;
    height: auto;
}
.contentContainer{
    display: flex;
    background-color: #66ccff;
}
.header {
    display: flex;
    background-color:#c7e752 ;
}
.headerContainer{
    margin-left: 100px;
    margin-bottom: 50px;

}
.fishCard{
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 100px;
}
.containerLeft{
    flex-basis: 75%;
}

.containerRight{
    background-color: seagreen;
    flex-basis: 25%;
}
.lakeMartinImage{
    max-width: 200%;
    height:auto;
}
.navLink{
    font-size: 3em;
}
.footer{
    background-color: #c7e752 ;
    
}
.title{
    font-size: ;
}
.quoteCard{
    margin-bottom: 100px;
    margin-left: 100px;
}
.locationCard{
    margin-bottom: 100px;
    margin-left: 100px;
}
.body{
    background-color: #c7e752;
}